.box {
 	position: relative;
 	margin: auto;
 	overflow: hidden;
 	padding-bottom: 20px;
 }

 .text {
 	height: 140px;
 	color: #555555;
 	word-break: break-word;
 	word-wrap: break-word;
 	line-height: 28px;
 	overflow: hidden;
 }

 .label1 {
 	position: absolute;
 	bottom: 0;
 	left: 0px;
 	height: 20px;
 	line-height: 40px;
 	color: rgb(96, 115, 232);
 	cursor: pointer;
 }

 /*用于调整单选框的属性以及位置*/
 .label2 {
 	position: absolute;
 	bottom: 0;
 	left: 0;
 	height: 20px;
 	line-height: 40px;
 	color: rgb(96, 115, 232);
 	cursor: pointer;
 	display: none;
 }

 /*用于调整单选框的属性以及位置*/

 #Input1:checked~div {
 	height: auto
 }

 /*展开高度*/
 #Input1:checked~.label1 {
 	display: none;
 }

 /*隐藏更多*/
 #Input1:checked~.label2 {
 	display: block;
 }

 /*显示收起*/
 #Input2:checked~div {
 	height: 140px;
 }

 /*还原高度*/
 #Input2:checked~.label2 {
 	display: none;
 }

 /*隐藏收起-----------------------------------------------------------------------*/
 .xz_ui {
 	text-align: center;
 	position: relative;
 }

 .xz_ui img {
 	width: 205px;
 	margin-top: 25px;
 	margin-bottom: 25px;
 }

 /*  */
 .black_overlay {
 	display: none;
 	/* 此元素不会被显示*/
 	position: absolute;
 	top: 0%;
 	left: 0%;
 	/* width: 100%;
				height: 100%; */
 	/* background-color:#fff; */
 	z-index: 1001;
 	/* z-index 属性设置元素的堆叠顺序。*/
 	opacity: .80;
 	/* opacity 属性设置元素的不透明级别。*/
 	/* background-image: url(../img/sign/sign11.png);
				background-size: cover; */
 }

 .white_content {
 	display: none;
 	position: absolute;
 	top: 70%;
 	border: 1px solid #bbbbbb;
 	border-radius: 10px;
 	background-color: white;
 	z-index: 1002;
 	/*层级要比.black_overlay高，这样才能显示在它前面*/
 	overflow: auto;
 	/* background-image: url(../img/backgrounds/banner5.jpg);
				background-size: cover; */
 }

 #light {
 	position: absolute;
 	left: 50%;
 	/* top: 50%; */
 	width: 300px;
 	height: 120px;
 	margin-left: -150px;
 	/* margin-top: -125px */
 	;
 }

 #form_submit {
 	text-align: center;
 	margin-left: 10px;
 	margin-top: 10px;
 }

 .notice1 {
 	font-weight: 800;
 }

 #font_login {
 	font-weight: 400;
 	font-size: 34px;
 	color: #BBBBBB;
 	text-align: center;
 	margin-top: 20px;
 }

 .button_beautiful {
 	/* width: 60px;
				height: 34px; */
 	/* 高度 */
 	border-width: 1px;
 	border-radius: 5px;
 	border-color: #BBBBBB;
 	background: cornflowerblue;
 	cursor: pointer;
 	outline: none;
 	color: white;
 	font-size: 12px;
 	margin-top: 10px;
 }

 #check #check1 {

 	font-size: 30px;
 }
#check{
	text-align: center;
	
}
@media only screen and (max-width: 850px){
		#check #check1{
			font-size: 15px;
			
		}
	}

 /* #征集主题 */
#idea2{
 	background-image: url(../img/backgrounds/bg1.png);
 	background-size: cover; */
 	background-repeat: no-repeat;
 }
/*最大屏幕的，直接宽度100%

	/*屏幕小于1200px时*/
	@media only screen and (max-width: 750px){
		#idea2{
			/* background: rgba(255, 255, 255, 255); */
			background-image: url(../img/backgrounds/bg4.png);
			background-size: cover;
		}
	}
	#idea{
		font-size: 20px;
		font-weight: bold;
		/* color: darkslategray; */
	}
	@media only screen and (max-width:750px)  {
		#idea{
			font-size: 1em;
			font-weight: normal;
		}
	}
	#read{
		font-size: 18px;
		letter-spacing: 2px;
		font-family: "华文仿宋";
	}
	@media only screen and (max-width:750px)  {
		#read{
			font-size: 1em;
			letter-spacing: normal;
		}
	}
	#contact{
		font-size: 60px;
	}